* {
  $outline: none;
  $box-sizing: border-box;
}

.container {
  $margin: 0 auto;
  $width: 100%;
  $max-width: 500px;
}

.search-box {
  $padding: 10px;
  $margin: 20px 0;
  $border: 1px solid black;
  $border-radius: 5px;
}

.timeline {
  $position: relative;
  $border-left: 1px solid black;
}

.date {
  $display: inline-block;
  $border: 1px solid black;
  $border-radius: 5px;
  $padding: 5px;
  $position: relative;
  $left: 15px;
  $margin: 15px 0;
}

&:before {
  $content: '';
  $position: absolute;
  $top: 50%;
  $left: -16px;
  $border: 1px solid black;
  $width: 14px;
}

.article {
  $position: relative;
  $left: 20px;
  $box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  $border-radius: 5px;
  $padding: 10px;
  $margin: 10px 0;
}

&:hover {
  $box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

a {
  $color: green;
  $text-decoration: none;
}

.article-date {
  $font-weight: 300;
  $font-size: 14px;
}

.dot {
  $display: block;
  $position: absolute;
  $width: 10px;
  $height: 10px;
  $border-radius: 50%;
  $background: green;
  $left: -25.5px;
  $top: calc(50% - 5px);
}
