<template>
    <div class=" bg-white box-shadow">
        <div class="row m-3 ">

            <div class="col-lg-6 mx-auto text-center mt-3">
                <h5 style="text-align:left">A little About me</h5>
                <p style="text-align:justify; font-size: 20pt">
                    Full Stack Developer / Android Developer / React Native / English Tutor
                </p>
                <p style="text-align: justify">Graduate MSc student of Birmingham City University in England with huge practical experience in
                    JAVA, PHP, CodeIgniter, React Native and MYSQL. Possesses skills and efficiency in working
                    on different platforms and domains. A confident and enthusiastic individual with excellent
                    communication and problem-solving skills and a team player. Developed several Android applications
                    using Eclipse & IntelliJ IDEA and java. Great ability to design database and graphics interface from
                    scratch and a reliable, responsible and well-experienced person with more than 10 years involvement
                    and working in different positions.
                </p>
            </div>
            <div class="col-lg-6 text-center mt-3">
                <img src="img/profile.jpg" width="300px" height="300px"/>
            </div>

        </div>
        <!--<input v-model='searchQuery' class='search-box' placeholder='Search for articles...'>-->

        <div class='timeline m-5 ' v-if='anyArticle()'>
            <div v-for='(dateWithArticles, date) in searchedArticles'>
                <p v-if='dateWithArticles.length > 0' class='date'>{{ date }}</p>
                <div v-for='article in dateWithArticles' class='article '>
                    <span class='dot'></span>
                    <!--<p class='article-date'>{{ article.published_at }}</p>-->
                    <h5><a :href="'#' + article.link">{{ article.title }}</a></h5>
                    <h3>{{ article.role }}</h3>
                    <p style="text-align:center">{{ article.description }}</p>
                </div>
            </div>
        </div>
        <p v-else>No articles found.</p>

    </div>

</template>

<script>
    export default {
        name: "About",
        mounted() {
            console.log('Component mounted.')
        },
        // props: ['datesArticles'],
        data() {
            return {
                searchQuery: ''
            }
        },
        computed: {
            searchedArticles() {
                let searchRegex = new RegExp(this.searchQuery, 'i');
                let searchedObj = {};

                if (this.searchQuery == '') {
                    return this.datesArticles;
                }

                for (let date in this.datesArticles) {
                    searchedObj[date] = this.datesArticles[date].filter((article) => {
                        return searchRegex.test(article.title) ||
                            searchRegex.test(article.role) ||
                            searchRegex.test(article.description) ||
                            searchRegex.test(article.published_at) ||
                            searchRegex.test(date);
                    });
                }
                return searchedObj;
            }
        },
        methods: {
            anyArticle() {
                return this.countAllArticles() ? true : false;
            },
            countAllArticles() {
                let count = 0;
                for (let date in this.searchedArticles) {
                    count += this.searchedArticles[date].length;
                }
                return count;
            }
        },
        data() {
            return {
                datesArticles: {
                    'October, 2018': [
                        {
                            title: 'KAWeb Co, Lichfield,UK',
                            role: 'Laravel and Vue Developer',
                            link: 'kaweb',
                            description: 'I was cooperating and working on the company’s projects written mostly by Laravel and CodeIgniter along with Vue Js.',
                            published_at: '30.09.2016.'
                        },
                        {
                            title: 'Birmingham City University - Birmingham,UK',
                            role: 'Demonstrator in Computing Faculty',
                            link: 'BCU',
                            description: 'I am responsible for assisting the lecturers to answer the students\' questions regarding Java Object Oriented Programming. I am working directly with Mr. Andrew Kay and Mr. Nuno Amalio.',
                            published_at: '15.09.2016.'
                        },

                    ],
                    'September, 2018': [
                        {
                            title: 'Birmingham City University, Birmingham,UK',
                            role: 'Graduate MSc Advanced Computer Science with a 2.1 Degree',
                            link: 'MSc',
                            description: 'I finished my MSc Advanced Computer Science with a first grade from Birmingham City University.',
                            published_at: '15.09.2016.'
                        },
                        {
                            title: 'GravitiChain Co, Birmingham,UK',
                            role: 'React Native Developer',
                            link: 'graviti',
                            description: 'GravitiChain is a young startup company based in Birmingham working around Block Chain technology and banking systems. I worked as the react native developer to produce the native application which is a CRM system, fully compatible with all mobile platforms.\n' +
                                'I Used React Native, AMAZON AWS, JavaScript, PHP and MYSQL to create the CRM service. ',
                            published_at: '02.04.2016.'
                        }
                    ],
                    'September 2016 to 2017': [
                        {
                            title: 'English With Smart subtitle App, Iran',
                            role: 'Android Developer',
                            link: 'smartsub',
                            description: 'his was a complete innovative idea formed in my mind and I implemented it independently because I believed I could make an App to teach all the world English using movies with subtitle that is more intelligence compare to the simple one. ',
                            published_at: '25.12.2015.'
                        },
                    ], 'January 2014 to January 2016': [
                        {
                            title: 'KDG-Food, Iran',
                            role: 'Android Developer',
                            link: 'kdg',
                            description: 'KDG-FOOD is a food distribution company in Esfahan, Iran. The company goal was dominating the market by using android apps and increase its income consequently. I designed and created six cutting-edge mobile apps by using the latest technologies to meet my Managers demand. It was a tough joyful challenge as I was handling a three members’ team to do this job. One of the applications my team made was a Management app specialized for the manager to watch out and manage goods, prices, statistics, etc.\n' +
                                '❖ The other apps we made, was an intelligence system which offers customers the best sellers products automatically; We designed many algorithms and used numerous strategies to process statistic data in order to filter these best sellers’ ones.\n' +
                                '❖ Making profit by advertising through apps like a slideshow and video advertising was one of my achievement for the company.',
                            published_at: '25.12.2015.'
                        },
                    ]
                }
            }
        }
    }
</script>
<style>
    * {
        outline: none;
        box-sizing: border-box;
    }

    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
    }

    .search-box {
        padding: 10px;
        margin: 20px 0;
        border: 1px solid black;
        border-radius: 5px;
    }

    .timeline {
        position: relative;
        border-left: 1px solid #e2dddc;
    }

    .date {
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        position: relative;
        left: 15px;
        margin: 15px 0;
    }

    .article {
        position: relative;
        left: 20px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }

    .article:hover {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    }

    a {

        color: #f47b14;
        text-decoration: none;
    }

    .article-date {
        font-weight: 300;
        font-size: 14px;
    }

    .dot {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #f5a60c;
        left: -25.5px;
        top: calc(50% - 5px);
    }

</style>
