<template>

    <div class=" bg-white box-shadow">
        <div class="row m-3 ">
            <div class="col-lg-9  mt-3">
                <b-card class="mb-3 bg-white box-shadow">


                    <form
                            action="/contact"
                            @submit.prevent="onSubmit"
                            method="post"
                            @reset.prevent="onReset"

                    >

                        <div class="row">
                            <div class="col-25">
                                <label for="name">Name</label>
                            </div>
                            <div class="col-75">
                                <input v-model="form.name" type="text" id="name" name="name"
                                       placeholder="Your Full Name.."
                                       :class=" form.errors.name!='' ? form.redClass : null">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-75">
                                <input v-model="form.email" type="email" id="email" name="email"
                                       placeholder="Your Email.."
                                       :class=" form.errors.email!='' ? form.redClass : null">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="message">Message</label>
                            </div>
                            <div class="col-75">
                                <textarea v-model="form.message" id="message" name="message"
                                          placeholder="Write something.."
                                          style="height:200px"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25"></div>
                            <div class="col-75">
                                <input type="submit" value="Submit">
                                <input type="reset" value="Reset">
                            </div>
                        </div>
                    </form>


                </b-card>

                <b v-if="ShowErrorTitle">Please correct the following error(s):</b>
                <div v-if="form.errors.name!=''">
                    <span style="color: red">{{ form.errors.name}}</span>
                </div>
                <div v-if="form.errors.email!=''">
                    <span style="color: red">{{ form.errors.email}}</span>
                </div>

                <div>
                    <!-- Modal Component -->
                    <b-modal ok-only id="modal-center" centered title="Message Sent" ref="myModalRef">
                        <p class="my-4">Thanks for your message! I will contact you soon</p>
                    </b-modal>
                </div>

            </div>
            <div class="col-lg-3  mt-3 justify-content-center align-self-center">
                <img src="img/cont.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "contact",
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {

                form: {
                    redClass: 'redClass',
                    name: '',
                    email: '',
                    message: '',
                    errors: {
                        name: '',
                        email: ''
                    },
                },
                show: true,
                showErrorTitle: false
            }
        },
        computed:
            {
                ShowErrorTitle() {
                    this.showErrorTitle = true ? this.form.errors.name != '' || this.form.errors.email != '' : false;
                    return this.showErrorTitle;
                }
            },
        methods: {
            showModal() {
                this.$refs.myModalRef.show();
            },
            checkForm() {
                axios.post('/contact', {
                    name: this.name,
                    email: this.email,
                    message: this.message,
                });
            },
            onSubmit(evt) {
                evt.preventDefault();

                this.form.errors = {
                    name: '',
                    email: ''
                };

                //now post the data to the endpoint
                axios.post('/contact', {
                    name: this.form.name,
                    email: this.form.email,
                    message: this.form.message,
                })
                    .then(response => {
                        // alert(response.data.message);
                        this.ResetForm();
                        this.showModal();
                    }).catch(error => {
                    console.log(error.response.data.errors);
                    if (error.response.data.errors.name != null)
                        this.form.errors['name'] = error.response.data.errors.name[0] || {};
                    if (error.response.data.errors.email != null)
                        this.form.errors['email'] = error.response.data.errors.email[0] || {};
                    console.log(this.form.errors.email);
                    console.log(this.form.errors.name);
                });
            },
            ResetForm() {
                this.form.name = '';
                this.form.email = '';
                this.form.message = '';
                this.form.errors = {
                    name: '',
                    email: ''
                };
                /* Trick to reset/clear native browser form validation state */
                this.show = false;
                this.$nextTick(() => {
                    this.show = true
                });
            },
            onReset(evt) {
                evt.preventDefault();
                /* Reset our form values */
                this.form.name = '';
                this.form.email = '';
                this.form.message = '';
                this.form.errors = {
                    name: '',
                    email: ''
                };
                /* Trick to reset/clear native browser form validation state */
                this.show = false;
                this.$nextTick(() => {
                    this.show = true
                });
            }
        },
    }
</script>
<style>
    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=email], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    .redClass {
        border-color: rgba(229, 103, 23, 0.8);
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 34, 0, 0.6);
        outline: 0 none;

    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        width: 100%;
        margin-bottom: 5px;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    input[type=reset] {
        background-color: #af3b07;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        width: 100%;
        margin-bottom: 5px;

    }

    input[type=reset]:hover {
        background-color: #af0024;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }
</style>
