<template>
    <div class=" bg-white box-shadow">
        <div class="row m-3 ">
            <div class="col-lg-6  mt-3">
                <h3 style="text-align:left">Programming Skills</h3>
                <p style="text-align:justify;"> As a Full-Stack developer I am
                    obliged to work with variety of technologies such as Vue, React Js, React Native, Java Script to
                    develop
                    my front end side of websites while for developing Back-End I normally use PHP and MySQL. I am also
                    very experienced
                    with PHP framework such as CodeIgniter and Laravel.
                    <br> <br>
                    Apart from web development. I have a great experience developing Android using Java and React Native
                    as well.
                </p>

                <div style="text-align:left;" id="socialMedia">
                    <div>
                        <a :href="'https://gitlab.com/users/hosein_mirian/projects'" target="_blank"
                           style="font-size: 12pt">
                            <img src="../../../../public/img/gitlabicon.png" width="10%" height="10%"/>
                            My GitLab</a>
                    </div>
                    <div>
                        <a :href="'https://www.linkedin.com/in/hossein-mirian'" target="_blank"
                           style="font-size: 12pt"><img src="../../../../public/img/linkedinicon.png" width="10%"
                                                        height="10%"/>
                            My LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  mt-3">
                <b-card-group columns>
                    <b-card title="Vue"
                            img-src="img/vue.png"
                            img-fluid
                            img-alt="image"
                            img-top>
                        <p class="card-text">
                            Vue Js is one of the frameworks I am very interested to use in my projects due to
                            its simplicity of use.
                        </p>
                    </b-card>
                    <b-card title="React"
                            img-src="img/react.png"
                            img-fluid
                            img-alt="image"
                            img-top>
                        <p class="card-text">
                            React Native and React js are my favorite frameworks to work on either Mobile or Website
                            development.
                        </p>
                    </b-card>
                    <b-card title="JavaScript"
                            img-src="img/js.png"
                            img-fluid
                            img-alt="image"
                            img-top>
                        <p class="card-text">
                            Knowing Javascript is a must and after releasing new JS6 I have equipped myself with the
                            latest changes in Javascript
                        </p>
                    </b-card>
                    <b-card title="PHP"
                            img-src="img/php.png"
                            img-fluid
                            img-alt="image"
                            img-top>
                        <p class="card-text">
                            Php is my favorite back-end framework I have been using it in my Mobile and Web development.
                            I am also totally expertise with PHP frameworks such as Laravel and Codeigniter.
                        </p>
                    </b-card>
                    <b-card title="MySQL"
                            img-src="img/mysql.png"
                            img-fluid
                            img-alt="image"
                            img-top>
                        <p class="card-text">
                            Applying MySql queries is one of the other skills I have achieved by working on various
                            projects related to databases.
                        </p>
                    </b-card>
                    <b-card title="Java"
                            img-src="img/java.png"
                            img-fluid
                            img-alt="image"
                            img-top>
                        <p class="card-text">
                            Java is a fantastic language I mostly use for developing Android apps using Android Studio.
                        </p>
                    </b-card>
                    <b-card title="BootStrap"
                            img-src="img/boot.png"
                            img-fluid
                            img-alt="image"
                            img-top>
                        <p class="card-text">
                            Nowadays users would like to see the websites in a shaped and mobile friendly way. I use
                            bootstrap to have responsive apps.
                        </p>
                    </b-card>
                </b-card-group>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "Home",
    }
</script>
<style>
    .centre {
        display: inline-block;
        text-align: center;
    }

    .box-shadow {
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    }

    .bg-white {
        background: white;
    }
    #socialMedia div{
        margin-bottom: 20px;
    }
</style>
