<template>

    <div class=" bg-white box-shadow mt-3">
        <div style="text-align: center;display: inline-block">
            <spinner v-show="loading" :size="60"></spinner>
        </div>
        <div style="text-align: center;" id="buttonHolder">
            <span><b-button variant="secondary" @click="resetProjects">All Project</b-button></span>
            <span><b-button variant="primary" @click="FilterProjects(1)">Mobile Developing</b-button></span>
            <span><b-button variant="warning" @click="FilterProjects(2)">Web Design</b-button></span>
            <span><b-button variant="danger" @click="FilterProjects(3)">Graphic Design</b-button></span>
            <span></span>
        </div>
        <div class="m-3">
            <b-card-group columns>

                <b-card v-for="project, index in projects_filter" :img-src=project.pic img-top
                        :key="index"
                        :title=project.project_title
                        class="my-card"
                >

                    <p class="card-body">{{project.description}}</p>
                    <a :href=project.link target="_blank"
                       style="font-size: 12pt">
                        <p class="card-footer" v-if="project.link!=null">{{project.link}}</p>
                    </a>
                </b-card>
            </b-card-group>

        </div>
    </div>
</template>

<script>
    import Spinner from 'vue-spinner-component/src/Spinner.vue';

    export default {
        name: "Project",
        components: {
            Spinner
        },
        data() {
            return {
                loading: true,
                projects: [],
                projects_filter: []
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            resetProjects() {
 /*               axios.get('/project')
                    .then(response => {
                        this.projects = response.data;
                        this.projects_filter = this.projects;
                        this.loading = false
                    })*/
                this.projects_filter = this.projects;
            },
            FilterProjects(id) { // check to filter the projects based on their type
                // console.log(this.projects.filter(product => product.projects_id === id));
      /*          axios.get('/project/'+id)
                    .then(response => {
                        this.projects = response.data;
                        this.projects_filter = this.projects;
                        this.loading = false
                    });*/

                this.projects_filter = this.projects.filter(product => product.projects_id == id);
            }
        },
        created() {
            axios.get('/project')
                .then(response => {
                    this.projects = response.data;
                    this.projects_filter = this.projects;
                    this.loading = false
                })
        },
    }
</script>
<style>
    #buttonHolder span {
        display: inline-block;
        margin: 5px;
    }

    .my-card {

    }

    .my-card:hover {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);

    }
</style>
